name: Build

on:
  pull_request:
    types: [opened, reopened, synchronize]
    
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Setup python tests
        run: pip install pytest pytest-cov
      - name: Generate reports
        run: pytest --cov=src/sonar_poc --cov-report=xml --cov-report=html src/tests/sonar_poc
        continue-on-error: true
      - name: Upload HTML coverage report
        uses: actions/upload-artifact@v2
        with:
          name: cov_report
          path: src/htmlcov
      - name: Upload XML coverage report
        uses: actions/upload-artifact@v2
        with:
          name: xml_report
          path: coverage.xml
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#        with:
#          projectBaseDir: "."
#          args: >
#            -Dsonar.organization=va3rtbt43raffggs
#            -Dsonar.projectKey=sonar_poc
#            -Dsonar.projectName=sonar_poc
#            -Dsonar.python.coverage.reportPaths=coverage.xml
#            -Dsonar.sources=.
#            -Dsonar.test.exclusions=**/*test*.py
#            -Dsonar.exclusions=**/__init__.py,**/admin.py,**/apps.py,**/conftest.py,**/mocks.py,**/factories.py,**/*test*.py,**/migrations/*,**/users/*,**/url.py,**/db_router.py,**/*manage.py,**/*.html
#            -Dsonar.coverage.exclusions=**/__init__.py,**/admin.py,**/apps.py,**/conftest.py,**/mocks.py,**/factories.py,**/*test*.py,**/migrations/*,**/users/*,**/url.py,**/db_router.py,**/*manage.py
#            -Dsonar.verbose=false
